{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-transform-typescript", {
            "allowNamespaces": true,
            "isTSX": true,
            "allExtensions": true
        }],
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}